
body{
    background-color: rgb(255, 255, 255);
    color: rgb(3, 47, 3);
    font-family: 'Montserrat', sans-serif;
}
section{
    padding:1.5em;
}

.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.experience-column{
    background: rgb(251, 245, 237);
    border:solid;
    border-width: 2px;
    border-color: rgb(42, 111, 39);
    border-radius: 5px;
    margin-right: 1%;
    margin-bottom: 1%;
    padding:1em;

}
header{
    display: flex;
     flex-direction:column;
     align-items: center;
     
    background-image: -webkit-linear-gradient(rgb(242, 211, 171),rgb(213, 238, 122));
    

 }
 img{
    padding:1em;
    max-height: 40%;
    max-width: 40%;
    object-fit: cover;
    
   
    
 }
 
 
 .name{
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(85, 160, 9);
 }
 
 nav li {
    
    font-weight: 700;
    font-size: 1rem;
    text-transform: lowercase;
    color: rgb(50, 83, 18);} 
  nav a {
text-decoration:none;
    
  }  
h2{
        font-weight: 600;
        color: rgb(42,111,39);
}
h3{
    font-weight: 500;
    font-size: medium;
    color: rgb(42, 111, 39);
   margin-left:1em;
}
.styled-blocks{
    padding: 1em;
    background-color: rgb(251, 245, 237);
    list-style-type: none;
}
#skills{ 
    padding-left:0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    
    
}
.skills{
    padding:1em;
    background-color: rgb(251, 245, 237); 
    list-style-type: none;
    

}

#projects{
    padding-left:0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    
}

.projects{
    list-style-type: none;
    background-color: rgb(251, 245, 237);
    padding:1em;
}

.sectionConnect{
    padding-left:0;
    padding-right:0;
}
.connect{
    padding:1em;
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 245, 237); 
    

}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-left: 2%;
    background-color: rgb(251, 245, 237); 

    
    
}

#leave_message{

    background-color: rgb(251, 245, 237);  
    padding:1em;
}


.label{
    font-size: medium;
    color: rgb(138, 101, 7);

}
.message{
    padding: 1 em;
    
    border-radius: 2% ;
    border-color: darkgoldenrod;
    font-family: inherit;
    
}
.user-input{
    font-family: inherit;
    margin-bottom: 10px;
    border-style: solid;
    border-color: darkgoldenrod;
    border-width: 1px;
    border-radius: 3px;
}
.submit{
    font-family: inherit;
    color: rgb(138, 101, 7);
    background-color: white;
    padding: 1 em;
    border-style: solid;
    border-color: darkgoldenrod;
    border-width: 1px;
    border-radius: 3px;

}
footer{
    background-image: -webkit-linear-gradient(rgb(242, 211, 171),rgb(213, 238, 122));
    color:darkgoldenrod;
    padding:1.5em;
    margin:0;
    text-align: center;
}
#messages{
    display:flex;
    flex-direction: column;
        padding:1em;
}
li{
    padding: 0.5em;
}
.styled-messages{
    padding:1.5em;
    background-color:rgb(252, 253, 236) ;
    list-style: none;
}
button{
    font-family: inherit;
    color:darkgoldenrod;
    background-color: white;
    padding: 1 em;
    border-style: solid;
    border-color: darkgoldenrod;
    border-radius: 4px;

}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

 a{
    color:rgb(42,111,39);
 }  
 a:hover{ color:rgb(109, 207, 10);} 



 @media (min-width: 1220px) { 
    header{flex-direction: row;
        height:25vh;
    }

    img{
        padding: 1em;
        max-height: 80%;
        max-width: 80%;
        object-fit: cover;}
nav ul{

    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: center;
    align-items: center;}
    nav li{

            margin-left: 2em;
            
            font-size: 1.35rem;
    }
    .name{
        margin-left: 5rem;
        margin-bottom: 0;

     }
    .experience{
        flex-direction:row;
    }
    .experience-column{
        width:30%;
    }
    .form{
        width:40%;
        align-items: flex-start;
    }


}
@media (min-width:800px) and (max-width:1219px){
    nav ul{

        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 1em;
        justify-content: center;
        align-items: center;}
nav li{
    font-size: 1em;
    margin-left: 3em;
}
 }
